body {
  background-color: rgb(244, 248, 249);
  font-family:"Helvetica";
}

.tweet {
  background-color: rgb(255, 255, 255);
  border:2px solid rgb(225, 232, 237);
  border-radius: 5px;
  margin:10px;
  clear: both;
}

.user-info {
  float:left;
}
.username {
  font-weight: bold;
}

.follow {
  float:right;
}

.button-follow {
  background-color: rgb(255, 255, 255);
  border: 2px solid  rgb(85, 172, 238);
  color: rgb(85, 172, 238);
  font-weight: bold;
  font-size: 20px;
}
